.venv/
artifacts/
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/
.mypy_cache/
__pycache__/
*.py[cod]
*.sqlite*
.terraform/
*.tfplan
dbt/target/
dbt/logs/
dbt/ci/.user.yml
dbt/.user.yml
*.egg-info/
dist/
infrastructure/terraform/terraform.tfvars
